<section class="about" id="about">
  <div class="container">
    <div class="about-container">
      <h2 class="about-title">About the Game</h2>
      <h3 class="about-description">What Is Paradise Paws?</h3>
      <p class="about-text">
        Paradise Paws: Merge Animals is a relaxing and magical merge puzzle game
        where players bring life back to an abandoned sanctuary. Combine items,
        rescue animals, and design flourishing ecosystems filled with charm and
        discovery.
      </p>
      <ul class="about-list">
        <li>Requirements: Android 6.0+</li>
        <li>Installs: 50,000+ players worldwide</li>
        <li>Genre: Merge Puzzle Adventure</li>
        <li>Updated: July 2025</li>
      </ul>
      <div class="about-picture">
        <picture>
          <source
            srcset="./img/about/Photo.jpg 1x, ./img/about/Photo@2x.jpg 2x"
            media="(min-width: 1200px)"
          />
          <img
            src="./img/about/Photo-mobile.jpg"
            alt="About Paws Logo"
            class="about-img"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
