<section class="visuals-section container" id="atmosphere">
    <div class="wrap-tittle">
    <h2 class="section-title">Visuals & Atmosphere</h2>
    <p class="section-subtitle">A Cozy World of Fur, Leaves & Wonder</p>
    </div>

    <div class="slider-container-events">
        <div class="swiper swiper-events">
            <ul class="swiper-wrapper events-list">
                <li class="swiper-slide">
                    <picture>
                        <source srcset="/img/gentle@desktop1x.jpg 1x, /img/gentle@desktop2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="swiper-img" src="/img/gentle@mobile1x.jpg" srcset="/img/gentle@mobile2x.jpg 2x" alt="gentle"
                            class="event-img" />
                    </picture>
                    <div class="event-content">
                        <p class="event-text">Gentle ambient jungle soundsUI</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source srcset="/img/soft@desktop1x.jpg 1x, /img/soft@desktop2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="swiper-img"  src="/img/soft@mobile1x.jpg" srcset="/img/soft@mobile2x.jpg 2x" alt="soft"
                            class="event-img" />
                    </picture>
                    <div class="event-content">
                        <p class="event-text">Soft, hand-painted visuals and animations</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source srcset="/img/animal@desktop1x.jpg 1x, /img/animal@desktop2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="swiper-img" src="/img/animal@mobile1x.jpg" srcset="/img/animal@mobile2x.jpg 2x" alt="Endearing animal"
                            class="event-img" />
                    </picture>
                    <div class="event-content">
                        <p class="event-text">Endearing animal designs and idle animations</p>
                    </div>
                </li>
                <li class="swiper-slide">
                    <picture>
                        <source srcset="/img/seamless@desktop1x.jpg 1x, /img/seamless@desktop2x.jpg 2x"
                            media="(min-width: 1440px)" />
                        <img class="swiper-img" src="/img/seamless@mobile1x.jpg" srcset="/img/seamless@mobile2x.jpg 2x" alt="Seamless"
                            class="event-img" />
                    </picture>
                    <div class="event-content">
                        <p class="event-text">Seamless transitions and nature-inspired UI</p>
                    </div>
                </li>
            </ul>

            <div class="slider-controls">
                <div class="swiper-pagination"></div>
                <div class="arrows">
                    <button class="swiper-events-button-prev" type="button">
                        <span class="arrow"></span>
                    </button>
                    <button class="swiper-events-button-next" type="button">
                        <span class="arrow"></span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</section>