<section class="js-visuals-section container" id="atmosphere">
  <div class="js-wrap-title">
    <h2 class="js-section-title">Visuals & Atmosphere</h2>
    <p class="js-section-subtitle">A Cozy World of Fur, Leaves & Wonder</p>
  </div>

  <div class="swiper-slider-container-events">
    <div class="swiper swiper-events">
      <ul class="swiper-wrapper js-events-list">
        <li class="swiper-slide">
          <picture>
            <source srcset="/img/atmosphere/gentle@desktop1x.png 1x, /img/atmosphere/gentle@desktop2x.png 2x"
              media="(min-width: 1200px)" />
            <img class="swiper-img" src="/img/atmosphere/gentle@desktop1x.png"
              srcset="/img/atmosphere/gentle@desktop2x.png 2x" alt="gentle" />
          </picture>
          <div class="js-event-content">
            <p class="js-event-text">Gentle ambient jungle soundsUI</p>
          </div>
        </li>

        <li class="swiper-slide">
          <picture>
            <source srcset="/img/atmosphere/soft@desktop1x.png 1x, /img/atmosphere/soft@desktop2x.png 2x"
              media="(min-width: 1200px)" />
            <img class="swiper-img" src="/img/atmosphere/soft@desktop1x.png"
              srcset="/img/atmosphere/soft@desktop2x.png 2x" alt="soft" />
          </picture>
          <div class="js-event-content">
            <p class="js-event-text">Soft, hand-painted visuals and animations</p>
          </div>
        </li>

        <li class="swiper-slide">
          <picture>
            <source srcset="/img/atmosphere/animal@desktop1x.png 1x, /img/atmosphere/animal@desktop2x.png 2x"
              media="(min-width: 1200px)" />
            <img class="swiper-img" src="/img/atmosphere/animal@desktop1x.png"
              srcset="/img/atmosphere/animal@desktop2x.png 2x" alt="Endearing animal" />
          </picture>
          <div class="js-event-content">
            <p class="js-event-text">Endearing animal designs and idle animations</p>
          </div>
        </li>

        <li class="swiper-slide">
          <picture>
            <source srcset="/img/atmosphere/seamless@desktop1x.png 1x, /img/atmosphere/seamless@desktop2x.png 2x"
              media="(min-width: 1200px)" />
            <img class="swiper-img" src="/img/atmosphere/seamless@desktop1x.png"
              srcset="/img/atmosphere/seamless@desktop2x.png 2x" alt="Seamless" />
          </picture>
          <div class="js-event-content">
            <p class="js-event-text">Seamless transitions and nature-inspired UI</p>
          </div>
        </li>
      </ul>

      <div class="swiper-slider-controls">
        <div class="swiper-pagination"></div>
        <div class="swiper-arrows">
          <button class="swiper-events-button-prev" type="button">
            <span class="swiper-arrow"></span>
          </button>
          <button class="swiper-events-button-next" type="button">
            <span class="swiper-arrow"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>