<section class="boosters" id="boosters">
  <div class="container">
    <h2 class="booster-title">Power-Ups & Boosters</h2>
    <p class="subtitle">Merge Magic to the Rescue</p>
    <ul class="booster-list">
      <li class="booster-items">
        <!---->
        <picture>
          <source
            srcset="
              /img/booster@desktop1x.png 1x,
              /img/booster@desktop2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            class="booster-img"
            src="/img/booster@mobile1x.png"
            srcset="/img/booster@mobile2x.png 2x"
            alt="Nature burst"
          />
        </picture>
        <p class="booster-text">
          Nature Burst:<br />Clears large areas instantly
        </p>
      </li>
      <li class="booster-items">
        <picture>
          <source
            srcset="
              /img/booster-two@desktop1x.png 1x,
              /img/booster-two@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-two@mobile1x.png"
            srcset="/img/booster-two@mobile2x.png 2x"
            alt="Solar Flame"
          />
        </picture>
        <p class="booster-text">
          Solar Flame:<br />Unlocks the next-level item directly
        </p>
      </li>
      <li class="booster-items">
        <picture>
          <source
            srcset="
              /img/booster-three@desktop1x.png 1x,
              /img/booster-three@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-three@mobile1x.png"
            srcset="/img/booster-three@mobile2x.png 2x"
            alt="Whirlwind Merge"
          />
        </picture>
        <p class="booster-text">
          Whirlwind Merge:<br />Combines similar items automatically
        </p>
      </li>
      <li class="booster-items">
        <picture>
          <source
            srcset="
              /img/booster-four@desktop1x.png 1x,
              /img/booster-four@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-four@mobile1x.png"
            srcset="/img/booster-four@mobile2x.png 2x"
            alt="Mystic Paw"
          />
        </picture>
        <p class="booster-text">
          Mystic Paw:<br />Summons random rewards on the board
        </p>
      </li>
    </ul>
    <p class="booster-footer">
      Combine boosters strategically for maximum effect!
    </p>
  </div>
</section>
