<section class="boosters" id="boosters">
  <div class="container">
    <div class="wrap-title">
      <h2 class="booster-title">Power-Ups & Boosters</h2>
      <p class="subtitle">Merge Magic to the Rescue</p>
    </div>
    <div class="booster-list">
      <div class="booster-card">
        <picture>
          <source
            srcset="
              /img/booster@desktop1x.png 1x,
              /img/booster@desktop2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster@mobile1x.png"
            srcset="/img/booster@mobile2x.png 2x"
            alt="Nature burst"
          />
        </picture>
        <p class="booster-text">Nature Burst</p>
        <p class="booster-text">Clears large areas instantly</p>
      </div>
      <div class="booster-card">
        <picture>
          <source
            srcset="
              /img/booster-two@desktop1x.png 1x,
              /img/booster-two@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-two@mobile1x.png"
            srcset="/img/booster-two@mobile2x.png 2x"
            alt="Solar Flame"
          />
        </picture>
        <p class="booster-text">Solar Flame</p>
        <p class="booster-text">Unlocks the next-level item directly</p>
      </div>
      <div class="booster-card">
        <picture>
          <source
            srcset="
              /img/booster-three@desktop1x.png 1x,
              /img/booster-three@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-three@mobile1x.png"
            srcset="/img/booster-three@mobile2x.png 2x"
            alt="Whirlwind Merge"
          />
        </picture>
        <p class="booster-text">Whirlwind Merge</p>
        <p class="booster-text">Combines similar items automatically</p>
      </div>
      <div class="booster-card">
        <picture>
          <source
            srcset="
              /img/booster-four@desktop1x.png 1x,
              /img/booster-four@mobile2x.png  2x
            "
            media="(min-width: 1440px)"
          />
          <img
            class="booster-img"
            src="/img/booster-four@mobile1x.png"
            srcset="/img/booster-four@mobile2x.png 2x"
            alt="Mystic Paw"
          />
        </picture>
        <p class="booster-text">Mystic Paw</p>
        <p class="booster-text">Summons random rewards on the board</p>
      </div>
    </div>
  </div>
</section>
