<div class="frame container">
    <div class="mob-title-wrap">
        <div class="mob-tittle-wrapper">Mobile Experience</div>
        <div class="mob-subtitle-wrapper">Designed for Mobile Serenity</div>
    </div>

    <div class="wrap-list">
        <div class="android-wrapper"><img class="img" src="/img/Android.png" width="24" height="24" /></div>
        <div class="wrap-item-text">• Optimized for Android 6.0+</div>
        <div class="booking-wrapper"><img class="img" src="/img/Booking.png" width="24" height="24" /></div>
        <p class="wrap-item-text">• Quick to download and install</p>
        <div class="no-stopping-wrapper"><img class="img" src="/img/No stopping.png" width="24" height="24" /></div>
        <div class="wrap-item-text">• No disruptive ads</div>
        <div class="element-hour-service-wrapper"><img class="img" src="/img/24 hour service.png" width="24" height="24" /></div>
        <div class="wrap-item-text">• Full offline play supported</div>
        <div class="responsive-wrapper"><img class="img" src="/img/Responsive.png" width="24" height="24" /></div>
        <div class="wrap-item-text">• Perfect for phones and tablets</div>
    </div>
</div>