<div class="frame container">
    <div class="mob-title-wrap">
        <div class="mob-tittle-wrapper">Mobile Experience</div>
        <div class="mob-subtitle-wrapper">Designed for Mobile Serenity</div>
    </div>

    <div class="wrap-list">
        <div class="android-wrapper"><img class="img" src="/images/Android.png" /></div>
        <div class="wrap-item-text">Optimized for Android 6.0+</div>
        <div class="booking-wrapper"><img class="img" src="/images/Booking.png" /></div>
        <p class="wrap-item-text">Quick to download and install</p>
        <div class="no-stopping-wrapper"><img class="img" src="/images/No stopping.png" /></div>
        <div class="wrap-item-text">No disruptive ads</div>
        <div class="element-hour-service-wrapper"><img class="img" src="/images/24 hour service.png" /></div>
        <div class="wrap-item-text">Full offline play supported</div>
        <div class="frame-wrapper">
            <div class="responsive-wrapper"><img class="img" src="/images/PC.png" /></div>
        </div>
        <p class="text-wrapper-3">Perfect for phones and tablets</p>
    </div>
</div>