<div class="frame container">
    <div class="mob-title-wrap">
        <div class="mob-tittle-wrapper">Mobile Experience</div>
        <div class="mob-subtitle-wrapper">Designed for Mobile Serenity</div>
    </div>

<ul class="wrap-list">
    <li class="wrap-item">
        <div class="line wrap-line-one">
            <img class="icon" src="/img/Android.png" width="24" height="24" />
        </div>
        <p class="wrap-item-text">• Optimized for Android 6.0+</p>
    </li>

    <li class="wrap-item">
        <div class="line wrap-line-two">
            <img class="icon" src="/img/Booking.png" width="24" height="24" />
        </div>
        <p class="wrap-item-text">• Quick to download and install</p>
    </li>

    <li class="wrap-item">
        <div class="line wrap-line-three">
            <img class="icon" src="/img/No stopping.png" width="24" height="24" />
        </div>
        <p class="wrap-item-text">• No disruptive ads</p>
    </li>

    <li class="wrap-item">
        <div class="line wrap-line-four">
            <img class="icon" src="/img/24 hour service.png" width="24" height="24" />
        </div>
        <p class="wrap-item-text">• Full offline play supported</p>
    </li>

    <li class="wrap-item">
        <div class="line wrap-line-five">
            <img class="icon" src="/img/Responsive.png" width="24" height="24" />
        </div>
        <p class="wrap-item-text">• Perfect for phones and tablets</p>
    </li>
</ul>


</div>