<section class="features" id="features">
  <div class="container">
    <div class="features-container">
      <h2 class="features-title">Key Features</h2>
      <h3 class="features-description">Why Players Love Paradise Paws</h3>
      <ul class="features-list">
        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/relaxing@desktop1x.png 1x,
                /img/features/relaxing@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/relaxing@mobile1x.png 1x,
                /img/features/relaxing@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/relaxing@mobile1x.png"
              alt="Relaxing icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Relaxing Gameplay</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">
            Calm, intuitive mechanics designed to soothe
          </p>
        </li>

        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/horse@desktop1x.png 1x,
                /img/features/horse@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/horse@mobile1x.png 1x,
                /img/features/horse@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/horse@mobile1x.png"
              alt="Horse icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Animal Discovery</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">
            Unlock dozens of exotic animals as you play
          </p>
        </li>

        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/house@desktop1x.png 1x,
                /img/features/house@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/house@mobile1x.png 1x,
                /img/features/house@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/house@mobile1x.png"
              alt="House icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Build Your Sanctuary</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">
            Personalize each zone with plants, structures, and animals
          </p>
        </li>
        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/star@desktop1x.png 1x,
                /img/features/star@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/star@mobile1x.png 1x,
                /img/features/star@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/star@mobile1x.png"
              alt="Star icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Magical Power-Ups</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">Boost your merging with helpful bonuses</p>
        </li>

        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/chest@desktop1x.png 1x,
                /img/features/chest@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/chest@mobile1x.png 1x,
                /img/features/chest@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/chest@mobile1x.png"
              alt="Chest icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Daily Treats</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">Open chests and collect rewards</p>
        </li>

        <li class="feature-item">
          <picture>
            <source
              srcset="
                /img/features/tel@desktop1x.png 1x,
                /img/features/tel@desktop2x.png 2x
              "
              media="(min-width: 1200px)"
            />
            <source
              srcset="
                /img/features/tel@mobile1x.png 1x,
                /img/features/tel@mobile2x.png 2x
              "
              media="(max-width: 1999px)"
            />
            <img
              src="/img/features/tel@mobile1x.png"
              alt="Tel icon"
              class="feature-icon"
            />
          </picture>
          <p class="feature-title">Offline Friendly</p>
          <span class="feature-arrow">↓</span>
          <p class="feature-desc">Play anywhere, anytime</p>
        </li>
      </ul>
    </div>
  </div>
</section>
