<footer class="container">
  <div class="footer-wrap">
    <div class="wrap_one">
    <div class="f-contact">
      <p class="f-text">Contact & Support</p>
      <p class="f-text">Have feedback, ideas, or need help? We're listening!</p>
      <p class="f-text">Email: <a href="mailto:info@educationkixi.online">info@educationkixi.online</a></p>
      <p class="f-text">Support hours: Mon–Fri, 10:00–18:00 (GMT+2)</p>
      <p class="f-text">Follow us:</p>
      <div class="f-social">
        <a class="f-contact-icons" href="#"><img src="./img/devicon_facebook.png" alt="Facebook" width="24"></a>
        <a class="f-contact-icons" href="#"><img src="./img/skill-icons_instagram.png" alt="Instagram"
            width="24"></a>
        <a class="f-contact-icons" href="#"><img src="./img/Social Icons.png" alt="TikTok" width="24"></a>
      </div>
    </div>
    </div>

    <div class="wrap-two">
    <div>
      <p class="f-text">Create Your Animal Paradise Today!</p>
      <p class="f-text">Merge, explore, and build a lush world filled with furry friends and peaceful puzzles.</p>
    </div>
  
  

  <div class="f-btn">
    <a class="f-button download" href="#"><img src="/img/Download.png" alt="" height="40">Download</a>
    <a class="f-button google-play" href="#"><img src="/img/logos_google-play-icon.png" alt="" height="40">Google-play</a>
  </div>
  
  </div>
</div>
  <p class="f-moto">Join thousands of players building a better world — one merge at a time!</p>

  <div class="f-wrap-rights">
    <p class="f-rights">© 2025 educationkixi.online — All rights reserved.</p>
    <p class="f-rights">
      <a href="./privacy.html" class="footer-link">Privacy Policy</a> |
      <a class="" href="./terms.html">Terms and Conditions</a> |
      <a class="" href="./cookies_policy.html">Cookies Policy</a>
    </p>
  </div>
  
</footer>