<header class="header">
  <div class="container">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item">
          <a href="./index.html" class="nav-logo" aria-label="Go to home">
            <picture>
              <source
                srcset="
                  ./img/header/logo-pc.png    1x,
                  ./img/header/logo-pc@2x.png 2x
                "
                type="image/png"
              />
              <img
                src="./img/header/logo-pc.png"
                alt="Paradise Paws Logo"
                class="nav-logo-icon"
              />
            </picture>
          </a>
        </li>
        <li class="nav-item">
          <a href="#hero" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="#about" class="nav-link">About the Game </a>
        </li>
        <li class="nav-item">
          <a href="#steps" class="nav-link">How It Works</a>
        </li>
        <li class="nav-item">
          <a href="#Key Features" class="nav-link">Key Features</a>
        </li>
        <li class="nav-item">
          <a href="#Power-Ups" class="nav-link">Power-Ups</a>
        </li>
        <li class="nav-item">
          <a href="#achievements" class="nav-link">Levels & Rewards</a>
        </li>
        <li class="nav-item">
          <a href="#Visuals & Sound" class="nav-link">Visuals & Sound</a>
        </li>
        <li class="nav-item">
          <a href="#Contact" class="nav-link">Contact</a>
        </li>
      </ul>
      <ul class="nav-list-mobile">
        <a href="./index.html" class="nav-logo" aria-label="Go to hero">
          <picture>
            <source
              srcset="
                ./img/header/logo-mobile.png    1x,
                ./img/header/logo-mobile@2x.png 2x
              "
              type="image/png"
            />
            <img
              src="./img/header/logo-mobile.png"
              alt="Paradise Paws Logo"
              class="nav-logo-icon"
            />
          </picture>
        </a>
        <li class="nav-item-mobile">
          <a href="#hero" class="nav-link">Paradise Paws</a>
        </li>
        <li class="nav-item-mobile">
          <div class="nav-burger"><span></span></div>
        </li>
      </ul>
    </nav>
  </div>
</header>
