<section class="hero" id="hero">
  <div class="container">
    <div class="hero-container">
      <h1 class="hero-title">Welcome to Paradise Paws</h1>
      <h2 class="hero-description">
        Merge, Nurture, Discover – Your Animal Haven Awaits!
      </h2>
      <p class="hero-text">
        Step into Paradise Paws:<br />Merge Animals — the heartwarming puzzle
        adventure where wild habitats come alive and adorable creatures
        thrive!<br />
        Combine matching items to restore lush environments, unlock rare animal
        friends, and build your own paradise.
      </p>
      <p class="hero-text-secondary">
        Merge to discover unique species<br />
        Create thriving jungle habitats<br />
        Unlock daily surprises & rewards
      </p>
      <!--<div class="hero-picture">-->
      <picture>
        <source
          srcset="/img/hero/Photo.png 1x, /img/hero/Photo@2x.png 2x"
          media="(min-width: 1200px)"
        />
        <source
          srcset="
            /img/hero/Photo-mobile.png    1x,
            /img/hero/Photo-mobile@2x.png 2x
          "
          media="(max-width: 1999px)"
        />
        <img
          src="/img/hero/Photo-mobile.png"
          alt="Paradise Paws Logo"
          class="hero-picture hero-img"
        />
      </picture>
      <!--</div>-->
      <a
        class="hero-button"
        href="https://play.google.com/store/apps/details?id=com.wildlifestudios.merge.animal.sanctuary&hl=en&gl=us"
        aria-label="google play"
      >
        <picture>
          <source
            srcset="
              ./img/hero/logos_google-play-icon.png    1x,
              ./img/hero/logos_google-play-icon@2x.png 2x
            "
            media="(min-width: 1200px)"
          />
          <img
            src="./img/hero/logos_google-play-icon.png"
            alt="google-play-icon"
            class="hero-play-img"
          />
        </picture>
        Play Now</a
      >
    </div>
  </div>
</section>
