<div class="modal-menu">
  <div class="container">
    <nav class="nav-modal">
      <div class="list-wrapper">
        <ul class="nav-modal-list">
          <li class="nav-item-modal">
            <a href="#hero" class="nav-link">Home</a>
          </li>
          <li class="nav-item-modal">
            <a href="#about" class="nav-link">About the Game </a>
          </li>
          <li class="nav-item-modal">
            <a href="#steps" class="nav-link">How It Works</a>
          </li>
          <li class="nav-item-modal">
            <a href="#features" class="nav-link">Key Features</a>
          </li>
          <li class="nav-item-modal">
            <a href="#boosters" class="nav-link">Power-Ups</a>
          </li>
          <li class="nav-item-modal">
            <a href="#achievements" class="nav-link">Levels & Rewards</a>
          </li>
          <li class="nav-item-modal">
            <a href="#atmosphere" class="nav-link">Visuals & Sound</a>
          </li>
          <li class="nav-item-modal">
            <a href="#footer" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
