<div class="js-modal-menu">
  <div class="container">
    <nav class="nav-modal">
      <div class="list-wrapper">
        <ul class="nav-modal-list">
          <li class="nav-item-modal">
            <a href="#hero" class="nav-link js-nav-link">Home</a>
          </li>
          <li class="nav-item-modal">
            <a href="#about" class="nav-link js-nav-link">About the Game </a>
          </li>
          <li class="nav-item-modal">
            <a href="#steps" class="nav-link js-nav-link">How It Works</a>
          </li>
          <li class="nav-item-modal">
            <a href="#features" class="nav-link js-nav-link">Key Features</a>
          </li>
          <li class="nav-item-modal">
            <a href="#boosters" class="nav-link js-nav-link">Power-Ups</a>
          </li>
          <li class="nav-item-modal">
            <a href="#achievements" class="nav-link js-nav-link"
              >Levels & Rewards</a
            >
          </li>
          <li class="nav-item-modal">
            <a href="#atmosphere" class="nav-link js-nav-link"
              >Visuals & Sound</a
            >
          </li>
          <li class="nav-item-modal">
            <a href="#footer" class="nav-link js-nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>

<button type="button" id="js-back-to-top" class="js-back-to-top js-hidden">
  <img src="/img/Scroll to top.png" alt="arrow scroll to top" />
</button>
