<section class="steps" id="steps">
  <div class="container">
    <div class="steps-container">
      <h2 class="steps-title">How It Works</h2>
      <h3 class="steps-description">
        3 Steps to Animal Rescue & Habitat Building
      </h3>
      <ul class="steps-list">
        <li class="steps-items">
          <picture>
            <source
              srcset="/img/steps/step1.jpg 1x, /img/steps/step1@2x.jpg 2x"
              type="image/webp" />
            <img
              src="/img/steps/step1.jpg"
              alt="how to play - step one"
              loading="lazy"
              decoding="async"
              class="steps-img"
          /></picture>
        </li>
        <li class="steps-items">
          <picture>
            <source
              srcset="/img/steps/step2.webp 1x, /img/steps/step2@2x.webp 2x"
              type="image/webp" />
            <img
              src="/img/steps/step2.webp"
              alt="how to play - step one"
              loading="lazy"
              decoding="async"
              class="steps-img"
          /></picture>
        </li>
        <li class="steps-items">
          <picture>
            <source
              srcset="/img/steps/step3.jpg 1x, /img/steps/step3@2x.jpg 2x"
              type="image/webp" />
            <img
              src="/img/steps/step3.jpg"
              alt="how to play - step one"
              loading="lazy"
              decoding="async"
              class="steps-img"
          /></picture>
        </li>
      </ul>
      <p class="steps-text">
        Each level offers relaxing gameplay with strategic depth and adorable
        outcomes!
      </p>
    </div>
  </div>
</section>
