.js-wrap-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    padding-bottom: 26px;
}

.js-section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    text-align: center;
    color: #000;
}

.js-section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    color: #000;
    padding-bottom: 26px;
}

.swiper-img {
    border: 1px solid #000;
    border-radius: 15px;
    width: 200px;
    height: 212px;
}

.js-event-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    text-align: center;
    color: #000;
    width: 193px;
    padding-top: 24px;
}

.swiper-arrows {
    display: flex;
    justify-content: center;
    gap: 194px;
}

.swiper-events-button-prev,
.swiper-events-button-next {
    width: 48px;
    height: 48px;
    border: 2px solid #222;
    border-radius: 50%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0;
}

.swiper-arrow {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-top: 3px solid #222;
    border-right: 3px solid #222;
}

.swiper-events-button-prev .swiper-arrow {
    transform: rotate(-135deg);
}

.swiper-events-button-next .swiper-arrow {
    transform: rotate(45deg);
}

/* Desktop */
@media screen and (min-width: 1200px) {
    .js-visuals-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-direction: column;
        margin: auto;
    }

    .js-section-title {
        font-size: 32px;
        line-height: 1.3125;
        padding-bottom: 0;
    }

    .js-section-subtitle {
        font-size: 24px;
        line-height: 1.25;
        padding-bottom: 40px;
    }

    .js-events-list {
        gap: 64px;
    }

    .js-event-text {
        margin-bottom: 40px;
    }

    .swiper-arrows,
    .swiper-pagination {
        display: none !important;
    }

    .swiper-wrapper {
        display: flex !important;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 16px;
    }

    .swiper-slide {
        width: auto !important;
    }
}