.frame {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 24px;
}

.mob-title-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.mob-tittle-wrapper {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.25;
  text-align: center;
  color: #000;
}

.mob-subtitle-wrapper {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.45;
  text-align: center;
  color: #000;
}

.wrap-list {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-bottom: 24px;
}

.wrap-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 150px;
  
  text-align: center;
}


.img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.wrap-item-text {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.20833;
  color: #000;
}

.line {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  gap: 24px;

  border: 1px solid #000;
  border-radius: 24px;
  padding: 20px 32px;
  width: 150px;
}

.wrap-line-one {
  background: #c5ffc1;
}

.wrap-line-two {
  background: #b9d4ff;
}

.wrap-line-three {
  background: #ffcece;
}

.wrap-line-four {
  background: #8cd3ff;
}

.wrap-line-five {
  background: #8dff89;
}

@media screen and (min-width: 1200px) {

  .mob-tittle-wrapper {
    font-size: 32px;
    line-height: 131%;
  }

  .mob-subtitle-wrapper {
    font-size: 24px;
    line-height: 125%
  }

  .wrap-list {
    align-items: flex-start;
    padding-left: 0;
    margin-left: 0;
    max-width: 1075px;
    margin-right: auto;
  }

  .wrap-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 58px;
   
  }

  .line {
    width: 448px;
   
    height: 100px;
    border-radius: 16px;
    flex-shrink: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wrap-item-text {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.3125;
    color: #000;
  }

  .icon {
    width: 40px;
    height: auto;
  }
}