.frame{
    display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
}

.mob-title-wrap{
    display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 24px;
margin-bottom: 24px;
}

.mob-tittle-wrapper {
font-weight: 600;
font-size: 24px;
line-height: 1.25;
text-align: center;
color: #000;
}

.mob-subtitle-wrapper {
font-weight: 500;
font-size: 20px;
line-height: 1.45;
text-align: center;
color: #000;
}

.wrap-list {
list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.wrap-item {
    display: flex;
        flex-direction: column;
        align-items: center;
        width: 150px;
        /* або auto, якщо потрібно адаптивно */
        text-align: center;
}


.img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.wrap-item-text {
    font-size: 16px;
    line-height: 1.4;
}

.line {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    justify-content: center;
    gap: 10px;

    border: 1px solid #000;
    border-radius: 24px;
    padding: 20px 32px;
    width: 150px;
}

.wrap-list {}

.wrap-item {}

.img {}

.wrap-line-one {
background: #c5ffc1;
}
.wrap-line-two {
background: #b9d4ff;
}
.wrap-line-three{
background: #ffcece;
}
.wrap-line-four{
background: #8cd3ff;
}
.wrap-line-five{
background: #8dff89;
}

.wrap-item-text {}
